@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'YourFontName';
  src: url('/fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'YourFontName', sans-serif;
}