@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'helvetica';
    src: url('/fonts/Helvetica.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  